[submodule "numpy"]
	path = numpy
	url = git://github.com/numpy/numpy.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install.git
[submodule "windows-wheel-builder"]
	path = windows-wheel-builder
	url = https://github.com/numpy/windows-wheel-builder.git
