schedules:
- cron: "27 3 * * 0"
  # 3:27am UTC every Sunday
  displayName: Weekly build
  branches:
    include:
    - master
  always: true

#trigger:
#- v1.19.x

pr:
- master

variables:
  BUILD_COMMIT: c063b7dc2a4d96a1ebc6c9c0373eae9f722bf69a

jobs:
  - template: azure/windows.yml
    parameters:
      name: windows
      vmImage: vs2017-win2016
      matrix:
        py_3.6_32:
          PYTHON_VERSION: "3.6.x"
          PYTHON_ARCH: "x86"
          BITS: 32
        py_3.6_64:
          PYTHON_VERSION: "3.6.x"
          PYTHON_ARCH: 'x64'
          BITS: 64
        py_3.7_32:
          PYTHON_VERSION: "3.7.x"
          PYTHON_ARCH: "x86"
          BITS: 32
        py_3.7_64:
          PYTHON_VERSION: "3.7.x"
          PYTHON_ARCH: 'x64'
          BITS: 64
        py_3.8_32:
          PYTHON_VERSION: "3.8.x"
          PYTHON_ARCH: "x86"
          BITS: 32
        py_3.8_64:
          PYTHON_VERSION: "3.8.x"
          PYTHON_ARCH: 'x64'
          BITS: 64

  - template: azure/posix.yml
    parameters:
      name: linux
      vmImage: ubuntu-18.04
      matrix:
        py_3.6_32:
          MB_PYTHON_VERSION: "3.6"
          PLAT: "i686"
          MB_ML_VER: "2010"
          ENV_VARS_PATH: "env_vars_32.sh"
          DOCKER_TEST_IMAGE: "multibuild/xenial_{PLAT}"
        py_3.6_64:
          MB_PYTHON_VERSION: "3.6"
          MB_ML_VER: "2010"
        py_3.7_32:
          MB_PYTHON_VERSION: "3.7"
          PLAT: "i686"
          MB_ML_VER: "2010"
          ENV_VARS_PATH: "env_vars_32.sh"
          DOCKER_TEST_IMAGE: "multibuild/xenial_{PLAT}"
        py_3.7_64:
          MB_PYTHON_VERSION: "3.7"
          MB_ML_VER: "2010"
        py_3.8_32:
          MB_PYTHON_VERSION: "3.8"
          PLAT: "i686"
          MB_ML_VER: "2010"
          ENV_VARS_PATH: "env_vars_32.sh"
          DOCKER_TEST_IMAGE: "multibuild/xenial_{PLAT}"
        py_3.8_64:
          MB_PYTHON_VERSION: "3.8"
          MB_ML_VER: "2010"
        # manylinux1 wheels
        py_3.6_32manylinux1:
          MB_PYTHON_VERSION: "3.6"
          PLAT: "i686"
          MB_ML_VER: "1"
          ENV_VARS_PATH: "env_vars_32.sh"
        py_3.6_64manylinux1:
          MB_PYTHON_VERSION: "3.6"
          MB_ML_VER: "1"
        py_3.7_32manylinux1:
          MB_PYTHON_VERSION: "3.7"
          PLAT: "i686"
          MB_ML_VER: "1"
          ENV_VARS_PATH: "env_vars_32.sh"
        py_3.7_64manylinux1:
          MB_PYTHON_VERSION: "3.7"
          MB_ML_VER: "1"
        py_3.8_32manylinux1:
          MB_PYTHON_VERSION: "3.8"
          PLAT: "i686"
          MB_ML_VER: "1"
          ENV_VARS_PATH: "env_vars_32.sh"
        py_3.8_64manylinux1:
          MB_PYTHON_VERSION: "3.8"
          MB_ML_VER: "1"

  - template: azure/posix.yml
    parameters:
      name: macOS
      vmImage: macOS-10.14
      matrix:
        py_3.6_64:
          MB_PYTHON_VERSION: "3.6"
        py_3.7_64:
          MB_PYTHON_VERSION: "3.7"
        py_3.8_64:
          MB_PYTHON_VERSION: "3.8"
